.jumbotron-text {
    background: #CACACA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 75%;
    padding-left: 100px;
}

.jumbotron-img {
    background: #CACACA;
    padding: 0 !important;
}

.cont-img {
    max-width: 100%;
    height: auto;
}

.cont-header {
    padding-left: 12px;
    padding-top: 8px !important;
}

.bio-row {
    padding-bottom: 24px;
}

.techs-used img {
    height: 50px;
}

#skills {
    padding-top: 8px !important;
}

@media (max-width: 767px) {
    .jumbotron-img {
        width: 75%;
        padding: 0 !important;
    }

    .img-col {
        width: 75% !important;
    }
}