.customNav {
    height: 54px;
    background: #CACACA;
}

.nav-container {
    flex-wrap: nowrap !important;
}

#basic-navbar-nav {
    background: #CACACA;
}

.navbar-brand {
    text-align: left;
}

.navbar-nav {
    margin-left: auto;
}

#logo {
    width: 13%;
    height: 13%;
}