.customNav {
    height: 64px;
    background: #CACACA;
}

.nav-container {
    flex-wrap: nowrap !important;
}

.navbar-toggler {
    margin-right: 10px;
    margin-bottom: 5px;
}

#basic-navbar-nav {
    background: #CACACA;
    text-align: center;
}

.navbar-brand {
    text-align: left;
    width: 200px;
}

.navbar-nav {
    margin-left: auto;
}

#logo {
    width: 30%;
    height: 30%;
}